<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Principale</display-name>
    <servlet-name>Principale</servlet-name>
    <servlet-class>tn.essat.controller.Principale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Principale</servlet-name>
    <url-pattern>/Principale</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreEtds</display-name>
    <servlet-name>PreEtds</servlet-name>
    <servlet-class>tn.essat.controller.PreEtds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreEtds</servlet-name>
    <url-pattern>/PreEtds</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreAjouter</display-name>
    <servlet-name>PreAjouter</servlet-name>
    <servlet-class>tn.essat.controller.PreAjouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreAjouter</servlet-name>
    <url-pattern>/PreAjouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostAjouter</display-name>
    <servlet-name>PostAjouter</servlet-name>
    <servlet-class>tn.essat.controller.PostAjouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostAjouter</servlet-name>
    <url-pattern>/PostAjouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>tn.essat.controller.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
</web-app>